/* Google Fonts
font-family: 'Dokdo', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Anton', sans-serif;
*/
/* Stylesheet for Mobile App */
/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6
{
    margin:0;
    padding:0;
}
body{
    background-color:forestgreen;
}
div#container{
    width:100%;
    border:3px dotted orange;
    background-color: #04006c;

}
header{
    padding:40px;
    background-color:orange;
}
header h1{
    color:#04006c;
    font-family: 'Dokdo', cursive;
}
div#content{
    background-color:cornsilk;
    color:#04006c;
    font-family: 'Indie Flower', cursive;
}
nav{
    background-color:white;
    font-family: 'Anton', sans-serif;
}
nav ul{
    list-style: none;
}
nav ul li a{
    float:left;
    padding:5px 15px;
    border-right:1px dashed #04006c;
    color:#04006c;
    text-decoration:none;
}
nav ul li a:hover{
    background-color:#04006c;
    color:#a5fc5a;
}
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color:#1f0294;
}
div.keepOpen{
    clear:both;
}

@media screen and (max-width: 600px) {
    div#container{
        width:100%;
    }
    
    nav ul li a{
        float:none;
        text-align:center;
    }
}